<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-layer-group me-1"></i>
    </i>
    </i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Left-aligned links -->
      <div class="navbar-nav">
        <a class="nav-link" href="/listings"><i class="fa-solid fa-house me-1"></i> Home</a>
        <a class="nav-link" href="/listings"><i class="fa-solid fa-image me-1"></i> View Arts</a>
        <a class="nav-link" href="/listings/new"><i class="fa-solid fa-plus me-1"></i> Create Arts</a>
      </div>

      <!-- Right-aligned Auth Links -->
      <div class="navbar-nav ms-auto">
        <% if (!currentUser) { %>
          <a class="nav-link" href="/signup"><i class="fa-solid fa-user-plus me-1"></i> Signup</a>
          <a class="nav-link" href="/login"><i class="fa-solid fa-right-to-bracket me-1"></i> Login</a>
        <% } else { %>
          <a class="nav-link" href="/logout"><i class="fa-solid fa-right-from-bracket me-1"></i> Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
